In [1]:
import pandas as pd

In [2]:
import os
directory = os.getenv('HOME') + '/aiffel/aiffelthon/'

In [3]:
os.listdir(directory)

['MODELtf_ckpts_gd12_r1',
 'reg_2',
 'past_files',
 '.ipynb_checkpoints',
 '[라벨]제주도_학습용데이터_1.zip',
 'corpus_ko.txt',
 '[라벨]전라도_학습데이터_1.zip',
 'added',
 'final',
 '[라벨]경상도_학습데이터_1.zip',
 'reg_1',
 'reg_4',
 'datset_full_raw_needs_translation_0221_v2.csv',
 '[라벨]충청도_학습데이터_1.zip',
 'reg_5',
 'saturi_crawling_thesaurus_0223.csv',
 'final_dataset.zip',
 '[라벨]강원도_학습데이터_1.zip',
 'reg_3',
 'corpus_en.txt']

In [5]:
df = pd.read_csv(directory + 'saturi_crawling_thesaurus_0223.csv')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82401 entries, 0 to 82400
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   dial      82401 non-null  object
 1   original  82401 non-null  object
 2   meaning   82401 non-null  object
 3   reg       82401 non-null  object
dtypes: object(4)
memory usage: 2.5+ MB

In [7]:
df.reg.value_counts()

gs    25859
jd    18487
jj    16794
kw    15075
cc     6186
Name: reg, dtype: int64

In [8]:
df.head()

  dial original                                            meaning reg
0   분쉬       분수                               분수의 방언, 사물을 분별하는 지혜.  jj
1  분시        분수                               분수의 방언, 사물을 분별하는 지혜.  jj
2   분절       분결                          분결의 방언, 분한 마음이 왈칵 일어난 바람.  jj
3   분채       부채   부채의 방언, 손으로 흔들어 바람을 일으키는 물건. 대오리로 살을 하고 종이나 헝...  jj
4  분채질      부채질                       부채질의 방언, 부채를 흔들어 바람을 일으키는 일.  jj

In [9]:
input_word = df['dial'] + df['original']
input_word

0                              분쉬 분수
1                             분시  분수
2                              분절 분결
3                              분채 부채
4                            분채질 부채질
                    ...
82396                      대근하다 고단하다
82397                        대무하다 크다
82398                      대장실하다 담차다
82399                      덜퍽시다 덜퍽지다
82400    덩시렇다 둥그스름한 것이 높이 솟은 상태에 있다,
Length: 82401, dtype: object

In [14]:
txt_lst = input_word.tolist()

In [15]:
from gensim.test.utils import datapath
from gensim import utils

class MyCorpus:
    """An iterator that yields sentences (lists of str)."""

    def __iter__(self):
        corpus_path = datapath(txt_lst)
        for line in open(corpus_path):
            # assume there's one document per line, tokens separated by whitespace
            yield utils.simple_preprocess(line)

In [ ]:
sentences = MyCorpus